Generated Image September 29, 2025 - 9_37AM (1).png
LInkedin Banner right aligned - soft.png
LInkedin Banner right aligned_w-blur.png
LInkedin Banner right aligned.png
LInkedin Banner.png
profile_pic.png
profile_pic-sat.png
profile_pic-sat-yg.png
profile-pic-sat-yg_no-bg.png